

{% extends "components/base.html" %}

{% load static %}
{% block content %}
<div class="login-container">
    <div class="login-left">
        <div class="login-logo">
            <img src="{% static 'Authentication/image/Logo2.png' %}" alt="MODAMIND Logo">
          <h2>Recuperar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                <label for="email">Correo electrónico:</label>
                <input type="email" name="email" required>
                <button type="submit">Enviar código</button>
            </form>
     </div>
  
</div>
{% endblock %}